*{
  box-sizing: border-box;
}

html{
  background-color: cv(bg-c, white);
}

h1,h2,h3,h4,h5{
  color:cv(heading-c, orange);
  font-weight: bold;
}

p, button, a{
  color:cv(font-c,black);
}

button {
  background-color: cv(primary-c);
  margin: 5px;
  padding: 5px 10px;
  border-radius: cvDivide(border_radius,2);
  border: 1px solid cv(bg2-c);
  transition: .1s;

  &:hover:enabled {
    opacity: 0.6;
  }
  &[disabled]{
    opacity: 0.3;
    color:gray;
  }
}

input{
  padding: 5px 10px;
  margin: 5px;
  border:1px dashed gray;
}

