.App {
  text-align: center;
  background-color: cv(bg-c, white);
  //background: purple;
  minHeight: 100vh

}

.LoginPage_C {
  background-color: cv(bg-c,green);
  //background-color: cv(secondary-c,green);
  //color: cv(primary-color);
}



//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}

